<template>
	<div >
		<div id="container">
  <div id="burger">
          <div class="bun top"></div>
          <div class="filling"></div>
          <div class="bun bottom"></div>
  </div>
</div>

<nav >
  <ul>
	  <li class="green">
      <a :href="$router.resolve({name: 'home'}).href"
		 @click.native="toggleNavbar()">Home
	   </a>
    </li>
    <li class="purple">
      <a :href="$router.resolve({name: 'films'}).href"
		 @click.native="toggleNavbar()">Films
	   </a>
    </li>
    <li class="green">
      <a :href="$router.resolve({name: 'starships'}).href"
		 @click.native="toggleNavbar()">Starships
	   </a>
    </li>
    <li class="red">
      <a :href="$router.resolve({name: 'newplanets'}).href"
		 @click.native="toggleNavbar()">New Planets
	   </a>
    </li>
    <li class="yellow">
      <a :href="$router.resolve({name: 'actors'}).href"
		 @click.native="toggleNavbar()">Actors

		
	   </a>
    </li>
  </ul>
</nav>	

    <hide-at breakpoint="largeAndBelow"> 
		<div></div>    
    </hide-at>
    <show-at breakpoint="medium">
      <div class="starwars-demo">
		<img src="//cssanimation.rocks/demo/starwars/images/star.svg" alt="Star" class="star">
		<img src="//cssanimation.rocks/demo/starwars/images/wars.svg" alt="Wars" class="wars">
		<h5 class="byline" id="byline">The Force Awakens</h5>	
	  </div>
    </show-at>

	<!--	<nav class="navbar navbar-dark navbar-expand-sm fixed-top" v-bind:class=" { 'navbarOpen': show }" >

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false" @click.stop="toggleNavbar()">
				<span class="navbar-toggler-icon"></span>
			</button>
			<ul class="navbar-nav mr-auto">

				<router-link :to="{ name: 'home' }" class="nav-link logo"></router-link>



			</ul>
			<div class="collapse navbar-collapse mr-4" id="collapsibleNavbar" v-bind:class="{ 'show': show }">
			
				<div>
					<ul class="navbar-nav auto">
					
						<li class="nav-link" ><a  :href="$router.resolve({name: 'films'}).href"><h5 class="mdi"><template class="template mdi" @click.native="toggleNavbar()">Films</template></h5></a></li>
						<li class="nav-link" ><a  :href="$router.resolve({name: 'starships'}).href"><h5 class="mdi"><template class="template mdi" @click.native="toggleNavbar()">Starships</template></h5></a></li>   
						<li class="nav-link" ><a  :href="$router.resolve({name: 'newplanets'}).href"><h5 class="mdi"><template class="template mdi" @click.native="toggleNavbar()">New Planets</template></h5></a></li>   
						<li class="nav-link" ><a  :href="$router.resolve({name: 'actor/films'}).href"><h5 class="mdi"><template class="template mdi" @click.native="toggleNavbar()">Actors Films</template></h5></a></li>      
				
					  
					</ul>
				</div>


			
			
			</div>
		</nav>	 -->		
		
		  <div class="block">
		   <keep-alive>
				<router-view></router-view>
			</keep-alive>  
			
     </div> 
	</div>	

</template>
<style scope>

</style>
<script>
  import {showAt, hideAt} from 'vue-breakpoints'
  
    
	export default {
	  
		data() {
			return {
				show: false	
	
			}
		},
		mounted() {
		
  
	
		},
		 components: {
				hideAt, showAt 
			},
		methods: {
	
	     toggleNavbar() {
	  this.show = !this.show
	}   
		
			
		}
	}
</script>
