<template>
   <div class="row">
	  	<div class="films col-8">
			<loading :active.sync="isLoading"
					 :can-cancel="true"
					 :on-cancel="onCancel"
					 :is-full-page="fullPage"></loading>
			<br />
			<br />
			<br />
			<br />
			
		<b-row>
        </b-row>
        <br><br><br>
        <b-table
		        
		        show-empty
                 small
                 stacked="md"
                 striped hover
                 :items="actors"
                 :fields="fields"
                 :current-page="currentPage"
                 :per-page="perPage"
                 :filter="filter"
                 :filterIncludedFields="filterOn"
                 :sort-by.sync="sortBy"
                 :sort-desc.sync="sortDesc"
                 :sort-direction="sortDirection"
                 @filtered="onFiltered">

            <template v-slot:cell(action)="row">
                <b-col>                   
                    <button class="p-btn btn-block" @click="editFilms(row.item)">
                        Movies
                    </button>
                </b-col>
            </template>
        </b-table>
     	 <b-col sm="10" md="12" class="my-1">
            <b-pagination v-model="currentPage"
                          :total-rows="totalRows"
                          :per-page="perPage"
                          align="fill"
                          size="sm"
                          class="my-0"></b-pagination>
        
        </b-col>	
	  </div>
	  <div class="col-4"></div>
	</div> 
</template>  
<style scope>
.row {
	margin-top: 6%;
}
  
</style>
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import Swal from 'sweetalert2/dist/sweetalert2.js'
import 'sweetalert2/src/sweetalert2.scss'
		export default {
			data() {
				return {
					loading: true,
					actors: [],
					actor: {
						name: "",
						gender: "",
						homeworld: [],
						films: []
						
						
					},
					films: [],
					film: {
						title: ""												
					},
					isLoading: false,
				    fullPage: true,
					fields: [
					{ key: 'name', label: 'Name', sortable: false,  },
					{ key: 'birth_year', label: 'Birth Year', sortable: false,  },
					{ key: 'homeworld', label: 'Homeworld', sortable: false,  },
					{ key: 'gender', label: 'Gender', sortable: false },
					'action'
				
					], 
					totalRows: 1,
					currentPage: 1,
					perPage: 15,
					pageOptions: [5, 10, 15],
				    sortBy: '',
					sortDesc: true,
					sortDirection: 'desc',
					filter: null,
					filterOn: [],
					
				} 
			},
			mounted() {
			 this.allActors()
			 this.totalRows = this.actors.length
			},
			 filters: {
            truncate: function (content, length, suffix) {
                return content.substring(0, length) + suffix;
            }
           },
			created() {
				setTimeout(() => {
				this.loading = false;
				},1000);
			  
			  },
			  
		    components: {
				Loading,
				   sortOptions() {
                // Create an options list from our fields
                return this.fields
                    .filter(f => f.sortable)
                    .map(f => {
                        return { text: f.label, value: f.key }
                    })
            }
			},
		
			methods: {  
			    allActors() {
						this.isLoading = true;   
					   let uri = '/api/actors';										
						this.axios.get(uri, {
							headers: {
								'Access-Control-Allow-Origin': '*',
							}
							}).then(response => {
								this.isLoading = false;
								this.actors = response.data.actors;
								
							});	
				},
				editFilms(films) {
					Swal.fire({
                              position: 'top',
                              icon: 'success',
							  title: films.name,
                              title: 'Acts in:',
							  text: films.films,
							  showConfirmButton: false,
							  showCancelButton: true,
							  cancelButtonText: 'Return!',
                              confirmButtonColor: '#0F0',
                            cancelButtonColor: '#0F0',
                              
                            })
		this.films = films;
		
            	
				},
		
						onChangePage(actors) {
						// update page of items
						this.actors = actors;
					},
					onFiltered(filteredItems) {
				// Trigger pagination to update the number of buttons/pages due to filtering
				this.totalRows = filteredItems.length
				this.currentPage = 1
			}   
				}
        }
 
</script>