<template>
   <div class="row">
	  	<div class="films col-8">
			<loading :active.sync="isLoading"
					 :can-cancel="true"
					 :on-cancel="onCancel"
					 :is-full-page="fullPage"></loading>
			<br />
			<br />
			<br />
			<br />
		<b-row>




            <b-col lg="6" class="my-1">
                <b-form-group label="Filter"
                              label-cols-sm="3"
                              label-align-sm="right"
                              label-size="sm"
                              label-for="filterInput"
                              class="mb-0">
                    <b-input-group size="sm">
                        <b-form-input v-model="filter"
                                      type="search"
                                      id="filterInput"
                                      placeholder="Type to Search"></b-form-input>
                        <b-input-group-append>
                            <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                        </b-input-group-append>
                    </b-input-group>
                </b-form-group>
            </b-col>

            <b-col lg="6" class="my-1">
                <b-form-group label="Filter On"
                              label-cols-sm="3"
                              label-align-sm="right"
                              label-size="sm"
                              description="Leave all unchecked to filter on all data"
                              class="mb-0">
                    <b-form-checkbox-group v-model="filterOn" class="mt-1">
                        <b-form-checkbox value="title">Title</b-form-checkbox>
                        <b-form-checkbox value="director">Director</b-form-checkbox>

                    </b-form-checkbox-group>
                </b-form-group>
            </b-col>

            <b-col sm="5" md="6" class="my-1">
                <b-form-group label="Per page"
                              label-cols-sm="6"
                              label-cols-md="4"
                              label-cols-lg="3"
                              label-align-sm="right"
                              label-size="sm"
                              label-for="perPageSelect"
                              class="mb-0">
                    <b-form-select v-model="perPage"
                                   id="perPageSelect"
                                   size="sm"
                                   :options="pageOptions"></b-form-select>
                </b-form-group>


            </b-col>


        </b-row>
        <br><br><br>
        <b-table
		        
		        show-empty
                 small
                 stacked="md"
                 striped hover
                 :items="response"
                 :fields="fields"
                 :current-page="currentPage"
                 :per-page="perPage"
                 :filter="filter"
                 :filterIncludedFields="filterOn"
                 :sort-by.sync="sortBy"
                 :sort-desc.sync="sortDesc"
                 :sort-direction="sortDirection"
                 @filtered="onFiltered">

            <template v-slot:cell(action)="row">
                <b-col>
                    <button class="p-btn" @click="editProduct(row.item)">Edit</button><br />
                    <!--    <b-button variant="primary" size="sm" @click="editProduct(row.item)" class="ml-3">
                    Edit
                </b-button> -->

                    <button class="p-btn" @click="deleteProduct(row.item.id)">
                        Delete
                    </button>
                </b-col>
            </template>
        </b-table>
        <b-col sm="10" md="12" class="my-1">
            <b-pagination v-model="currentPage"
                          :total-rows="totalRows"
                          :per-page="perPage"
                          align="fill"
                          size="sm"
                          class="my-0"></b-pagination>

        </b-col>	
	  </div>
	  <div class="col-4"></div>
	</div> 
</template>  
<style scope>

  
</style>
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
		export default {
			data() {
				return {
					loading: true,
					response: [],
					respons: {
						title: "",
						director: "",
						producer: "",
						release_date: ""
					},
					isLoading: false,
				    fullPage: true,
					fields: [
					{ key: 'title', label: 'Title', sortable: true, sortDirection: 'asc' },
					{ key: 'director', label: 'Director', sortable: true,sortDirection: 'asc' },
					{ key: 'producer', label: 'Producer', sortable: true, sortDirection: 'asc' },
					{ key: 'release_date', label: 'Release date', sortable: true, sortDirection: 'asc' }
					/*{ key: 'image', label: '', sortable: true, sortDirection: 'asc' },
					{ key: 'content', label: '', sortable: true, sortDirection: 'asc' },  */
					], 
					totalRows: 1,
					currentPage: 1,
					perPage: 15,
					pageOptions: [5, 10, 15],
				    sortBy: '',
					sortDesc: true,
					sortDirection: 'desc',
					filter: null,
					filterOn: [],
					
				} 
			},
			mounted() {
			 this.films();
			 this.totalRows = this.response.length
			},
			 filters: {
            truncate: function (content, length, suffix) {
                return content.substring(0, length) + suffix;
            }
           },
			created() {
				setTimeout(() => {
				this.loading = false;
				},1000);
			  
			  },
			  
		    components: {
				Loading,
				   sortOptions() {
                // Create an options list from our fields
                return this.fields
                    .filter(f => f.sortable)
                    .map(f => {
                        return { text: f.label, value: f.key }
                    })
            }
			},
		
			methods: {  
			     films() {
					   this.isLoading = true;
					   let uri = '/api/films';										
						this.axios.get(uri, {
							headers: {
								'Access-Control-Allow-Origin': '*',
							}
							}).then(response => {
								this.isLoading = false;
								this.response = response.data.response;
								
							});						
						},
						onChangePage(response) {
						// update page of items
						this.response = response;
					},
					onFiltered(filteredItems) {
				// Trigger pagination to update the number of buttons/pages due to filtering
				this.totalRows = filteredItems.length
				this.currentPage = 1
			}   
				}
        }
 
</script>