<template>
<div>

	

</div> 
</template>  
<style scope>
.row {
    margin-top: 10%;
	margin-left: 20%;
	position: absolute;
}
li {
	margin-top: 50px;
}
 </style> 
<script>

		export default {
			data() {
				return {
				
					
				} 
			},
			mounted() {
			
			},
			created() {
			   
			  },
		
			methods: { 
          
			
        }
		}
</script>