<template>
  <div>
   <div v-if="response > 0" class="row">
	  	<div class="films col-8">
			<loading :active.sync="isLoading"
					 :can-cancel="true"
					 :on-cancel="onCancel"
					 :is-full-page="fullPage"></loading>
			<br />
			<br />
			<br />
			<br />
			
		<b-row>
        </b-row>
        <br><br><br>
        <b-table
		        
		        show-empty
                 small
                 stacked="md"
                 striped hover
                 :items="response"
                 :fields="fields"
                 :current-page="currentPage"
                 :per-page="perPage"
                 :filter="filter"
                 :filterIncludedFields="filterOn"
                 :sort-by.sync="sortBy"
                 :sort-desc.sync="sortDesc"
                 :sort-direction="sortDirection"
                 @filtered="onFiltered">

        </b-table>
     	 <b-col sm="10" md="12" class="my-1">
            <b-pagination v-model="currentPage"
                          :total-rows="totalRows"
                          :per-page="perPage"
                          align="fill"
                          size="sm"
                          class="my-0"></b-pagination>
         
        </b-col>	
	  </div>
	  <div class="col-4"></div>
	</div> 
<div class="row" v-else><h2 class="starships">Active persons do not have ships with over 84,000 passengers in total.</h2></div>
</div>

</template>
<style scope>

  
</style>
<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css'
		export default {
			data() {
				return {
					loading: true,
					response: [],
					respons: {
						name: "",
						model: ""
					},
					isLoading: false,
				    fullPage: true,
					fields: [
					{ key: 'name', label: 'Name', sortable: true, sortDirection: 'asc'  },
					{ key: 'model', label: 'Model', sortable: true, sortDirection: 'asc'  },
					
					], 
					totalRows: 1,
					currentPage: 1,
					perPage: 15,
					pageOptions: [5, 10, 15],
				    sortBy: '',
					sortDesc: true,
					sortDirection: 'desc',
					filter: null,
					filterOn: [],
					
					
				} 
			},
			mounted() {
				this.starships();
			    this.totalRows = this.response.length
			
			},
			filters: {
            truncate: function (content, length, suffix) {
                return content.substring(0, length) + suffix;
            }
           },
			created() {
			    	setTimeout(() => {
				this.loading = false;
				},1000);
			  },
		       components: {
				Loading,
				   sortOptions() {
                // Create an options list from our fields
                return this.fields
                    .filter(f => f.sortable)
                    .map(f => {
                        return { text: f.label, value: f.key }
                    })
            }
			},
			methods: {  
			 	 starships() {
				 let uri = '/api/starships';										
				  this.axios.get(uri, {
						headers: {
							'Access-Control-Allow-Origin': '*',
						}
						}).then(response => {
							this.response = response.data.response;
							
				    	});						
					},
						onChangePage(actors) {
						// update page of items
						this.actors = actors;
					},
					onFiltered(filteredItems) {
				// Trigger pagination to update the number of buttons/pages due to filtering
				this.totalRows = filteredItems.length
				this.currentPage = 1
			}     
				}
        }
 
</script>